@import '/css/reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.left,
.right {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
}
.tryorsignin {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  margin-top: 200px;
}
@media screen and (max-width: 640px) {
  .left,
  .right {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
  }
  .tryorsignin {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    margin-top: 200px;
  }
}
body {
  background-color: #fbfffc;
  font-family: 'Lucida Grande', 'Helvetica', sans;
}
.logo {
  text-align: center;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  margin: 20px 0 0 0;
}
input[type="button"],
input[type="submit"] {
  width: 100%;
  border: none;
  border-bottom: solid 1px #B6B6B6;
  cursor: pointer;
  margin-bottom: 20px;
}
.try input[type="submit"] {
  background-color: #FFD589;
}
.try input[type="submit"]:hover {
  background-color: #F7B949;
}
.signin input[type="button"] {
  background-color: #DFDFDF;
}
.signin input[type="button"]:hover {
  background-color: #B4E2FC;
}
.signin a {
  text-decoration: none;
}
.signin a:visited {
  text-decoration: none;
}
