<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Shapesmith</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/designs.css" type="text/css" media="screen" />
    <script>
        var globals = globals || {};
        globals.user = '{{user}}';
    </script>
    <script data-main="/ui/main.designs.js" src="/ui/lib/require-jquery.js"></script>

</head>
<body>
    
    <div id="logo"><img src="/images/logo_small.png"/></div>
    <div id="create"></div>
    <div class="maincolumn">
        <ul id="designs"><li class="placeholder">loading...</li></ul>
    </div>

    
</body>
</html>