<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Shapesmith</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/designs.css" type="text/css" media="screen" />
    <script>
        var Shapesmith = Shapesmith || {};
        Shapesmith.user = '{{user}}';
    </script>
    <script data-main="/src/main.designs.js" src="/src/lib/require-jquery.js"></script>

</head>
<body>
    
    <div id="logout"><a href="/logout">logout</a></div>
    <div id="create"></div>
    <div class="maincolumn">
        <ul id="designs"><li class="placeholder">loading...</li></ul>
    </div>

    
</body>
</html>