<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Shapesmith</title>
  <link rel="stylesheet" href="/css/landing.css" type="text/css" media="screen" />
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>

  <div class="left">&nbsp;</div>
  <div class="try"><form method="post" action="createtemp"><input type="submit" value="Try it"/></form></div>
  <div class="signin"><a href="/signin"><input type="button" value="Sign in"/></a></div>
  <div class="right">&nbsp;</div>

  <script>
  </script>
  
</body>
</html>